{
  "name": "di-framework-wasmcloud-platform",
  "private": true,
  "main": "index.ts",
  "dependencies": {
    "@pulumi/command": "1.2.1",
    "@pulumi/kubernetes": "4.34.0",
    "@pulumi/pulumi": "3.261.0",
    "typescript": "5.9.3",
    "@di-framework/platform": "{{DI_FRAMEWORK_PLATFORM_VERSION}}"
  },
  "devDependencies": {
    "@types/node": "22.18.0"
  },
  "scripts": {
    "check": "tsc --noEmit"
  }
}
